<template lang="html">
  <div id="accessDenied">
    <div class="accessDenied">
      <div class="access-denied-401">
        <h3>Access Denied</h3>
        <h1><span>4</span><span>0</span><span>1</span></h1>
      </div>
      <h2>Only logged in users can access this service</h2>
      <div>
        <a class="btn btn-primary" v-bind:href="auth_url"><strong>Click this button to logg in, and return to this page</strong></a>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'AccessDeniedPage',
  props: {
    auth_url: {
      type: String,
      default: process.env.VUE_APP_AUTH_URL
    }
  }
}
</script>

<style lang="sass" scoped>

@import '@/assets/sass/_variables'

#accessDenied
  position: relative
  height: 100vh
  background-color: $gray-background

#accessDenied .accessDenied
  position: absolute
  left: 50%
  top: 50%
  -webkit-transform: translate(-50%, -50%)
      -ms-transform: translate(-50%, -50%)
          transform: translate(-50%, -50%)

.accessDenied
  max-width: 520px
  width: 100%
  line-height: 1.4
  text-align: center

.accessDenied .access-denied-401
  position: relative
  height: 240px

.accessDenied .access-denied-401 h1
  font-family: 'Montserrat', sans-serif
  position: absolute
  left: 50%
  top: 50%
  -webkit-transform: translate(-50%, -50%)
      -ms-transform: translate(-50%, -50%)
          transform: translate(-50%, -50%)
  font-size: 252px
  font-weight: 900
  margin: 0px
  color: $monza
  text-transform: uppercase
  letter-spacing: -40px
  margin-left: -20px

.accessDenied .access-denied-401 h1>span
  text-shadow: -10px 8px 0px #fff

.accessDenied .access-denied-401 h3
  font-family: 'Cabin', sans-serif
  position: relative
  font-size: 16px
  font-weight: 700
  text-transform: uppercase
  color: #262626
  margin: 0px
  letter-spacing: 3px
  padding-left: 6px


.accessDenied h2
  font-family: 'Cabin', sans-serif
  font-size: 22px
  text-transform: uppercase
  margin-bottom: 25px
  background-color: $yellow-orange


@media only screen and (max-width: 767px)
  .accessDenied .access-denied-401
    height: 200px

  .accessDenied .access-denied-401 h1
    font-size: 200px

@media only screen and (max-width: 480px)
  .accessDenied .access-denied-401
    height: 162px

  .accessDenied .access-denied-401 h1
    font-size: 162px
    height: 150px
    line-height: 162px

  .accessDenied h2
    font-size: 16px

</style>
