<template>
  <div id="app">
    <!-- NOTE: ludd@food.dtu.dk -->
    <!-- TODO: AccessDeniedPage component is disable. It should be enabled once stakeholders aggree to serve services only to loged in users -->
    <!-- <AccessDeniedPage v-if="!store.state.user.loggedIn"/>
    <LandingPage v-if="store.state.user.loggedIn"/> -->

    <LandingPage/>
  </div>
</template>

<script>
import store from '@/store'
import Authenticator from "./utilities/authenticator.js";
import LandingPage from '@/views/LandingPage.vue'
// import AccessDeniedPage from '@/views/AccessDeniedPage.vue'

var auth = new Authenticator();
auth.loggInFromStorage();

export default {
  name: "App",
  components: {
    LandingPage,
    // AccessDeniedPage
  },
  data: function () {
    return {
      store: store
    }
  }
};
</script>

<style lang="sass">

</style>
